*{
	padding:0px;
	margin:0px 0px 0px 0px;
}

/*通常*/
@media screen and (min-width:641px){
body{
	width:100vw;
	min-height:100vh;
	background:url("image/back.png");
	background-repeat:repeat;
	display:flex;
	flex-direction:column;
}

header{
	width:100vw;
	height:14vh;
	float:top;
}

header img{
	width:100vw;
	height:14vh;
}

div.main{
	width:100vw;
	height:8vh;
	margin:4px 0px 0px 0px;
	float:top;
}

div.main p.tabs{
	display:flex;
	flex-direction:row;
}

div.main p.tabs a{
	flex-grow:1;
	height:8vh;
	text-align:center;
	border-radius:12px 12px 0px 0px;
	color:white;
	background:url("image/tab_icon.png");
	background-size:20% 8vh;
	font-size:20px;
	text-align:center;
}

div.main p.tabs a.top{
	margin:0px 0.2vw 0px 0px;
}

div.main p.tabs a.overview{
	margin:0px 0.2vw 0px 0px;
}

div.main p.tabs a.rule{
	margin:0px 0.2vw 0px 0px;
}

div.main p.tabs a.progress{
	margin:0px 0.2vw 0px 0px;
}

div.all{
	width:100vw;
	flex-grow:1;
}

div.tab{
	width:60%;
	margin:auto;
	background-color:white;
}

footer{
	width:100%;
	background-color:black;
}

footer input{
	margin:0px 1px 0px 0px;
}

footer p{
	color:white;
	font-size:10px;
}

div.tab a.twitter-timeline{
	width:80%;
	margin:auto;
}
}


/*スマホ*/
@media screen and (max-width:640px){
body{
	width:100vw;
	min-height:100vh;
	background:url("image/back_smart.jpg");
	background-repeat:repeat;
}

header{
	width:100vw;
	height:8vh;
	float:top;
}

header img{
	width:100vw;
	height:8vh;
}

div.main{
	width:100vw;
	height:4vh;
	margin:2px 0px 0px 0px;
	float:top;
}

div.main{
	display:flex;
	flex-direction:row;
}

div.main p.tabs a{
	flex-grow:1;
	height:4vh;
	text-align:center;
	border-radius:12px 12px 0px 0px;
	color:white;
	background:url("image/tab_icon.png");
	background-size:20% 4vh;
}

div.main p.tabs a.top{
	margin:0px 1px 0px 0px;
}

div.main p.tabs a.overview{
	margin:0px 1px 0px 0px;
}

div.main p.tabs a.rule{
	margin:0px 1px 0px 0px;
}

div.main p.tabs a.progress{
	margin:0px 1px 0px 0px;
}

div.tab{
	width:100vw;
	float:center;
}

footer{
	width:100vw;
	background-color:black;
	float:bottom;
}

footer input{
	margin:0px 1px 0px 0px;
}

footer p{
	color:white;
	font-size:7px;
}
}