*{
	padding:0px;
	margin:0px 0px 0px 0px;
}

/*通常*/
@media screen and (min-width:641px){
body{
	width:100vw;
	min-height:100vh;
	background:url("image/back.png");
	background-repeat:repeat;
	display:flex;
	flex-direction:column;
	overflow-x:hidden;
	font-family:"メイリオ",Meiryo;
}

header{
	width:100vw;
	height:17vh;
	float:top;
}

header img{
	width:100vw;
	height:17vh;
}

div.main{
	width:100%;
	height:10vh;
	margin:4px 0px 0px 0px;
	float:top;
}

div.main p.tabs{
	display:flex;
	flex-direction:row;
    justify-content:space-between;
}

div.main p.tabs a{
	flex-grow:1;
	height:10vh;
	text-align:center;
	border-radius:12px 12px 0px 0px;
	color:white;
	background:url("image/tab_icon.png");
	background-size:20% 10vh;
	font-size:20px;
}

div.main p.tabs a.top{
	margin:0px 0.2vw 0px 0px;
}

div.main p.tabs a.overview{
	margin:0px 0.2vw 0px 0px;
}

div.main p.tabs a.rule{
	margin:0px 0.2vw 0px 0px;
}

div.main p.tabs a.progress{
	margin:0px 0.2vw 0px 0px;
}

div.main p.tabs a.modlist{
	margin:0px 0.2vw 0px 0px;
}

div.all{
	width:100vw;
	flex-grow:1;
}

div.tab{
	width:60%;
	margin:0 auto;
	background-color:white;
	padding:20px;
}

div.tab div.modders{
	width:100%;
}

div.tab div.modders div.modders_name{
	width:(100%-13px);
	background-color:gray;
	display:flex;
	flex-direction:row;
	padding:5px;
}

div.tab div.modders div.modders_name h4.modders_name_text{
	margin:0px 0px 0px 3px;
}

div.tab div.modders div.mods{
	width:(100%-24px);
	background-color:lightgreen;
	border-style:solid;
	border-width:3px;
}

div.tab div.modders div.mods div.mods_box{
	width:(100%-63px);
}

div.tab div.modders div.mods embed{
	width:25%;
	height:15vh;
	margin:0 auto;
	padding:10px;
	border-style:solid;
	border-width:0px 3px 0px 0px;
}

div.tab div.modders div.mods img.thumbnail{
	width:25%;
	height:15vh;
	margin:0 auto;
	padding:10px;
	border-style:solid;
	border-width:0px 3px 0px 0px;
}

div.tab div.modders div.mods div.mods_box div.mods_name{
	display:inline-block;
}

div.tab div.modders div.mods a{
	width:65%;
	height:15vh;
	align:center;
	padding:10px;
	font-size:20px;
}

div.all div.share-button{
	display:flex;
	flex-direction:column;
	margin:0 auto;
	padding:1vh 1vw 1vh 1vw;
	position:fixed;
	left:85vw;
	top:25vh;
	background-color:white;
}

div.all div.share-button fieldset.share-button{
	margin:0 auto;
	text-align:center;
	padding:1vh 1vw 1vh 1vw;
}

div.ModWeek2017{
	margin:0 auto;
	text-align:center;
}

div.ivent-official{
	margin:0 auto;
	text-align:center;
}

fieldset.modcount,fieldset.links{
	width:80%;
	margin:0 auto;
	text-align:center;
	background-color:lightgreen;
}
	
footer{
	width:100%;
	background-color:black;
	text-align:center;
}

footer input{
	margin:0px 1px 0px 0px;
}

footer p{
	color:white;
	font-size:10px;
}

footer div.share-button{
	display:none;
}
}


/*スマホ*/
@media screen and (max-width:640px){
body{
	width:100vw;
	min-height:100vh;
	background:url("image/back_smart.jpg");
	background-repeat:repeat;
	font-family:"メイリオ",Meiryo;
	display:flex;
	flex-direction:column;
}

header{
	width:100vw;
	height:50px;
	float:top;
}

header img{
	width:100vw;
	height:50px;
}

div.main{
	width:100vw;
	height:30px;
	margin:2px 0px 0px 0px;
}

div.main p.tabs{
	display:flex;
	flex-direction:row;
}

div.main p.tabs a{
	flex-grow:1;
	height:30px;
	text-align:center;
	border-radius:12px 12px 0px 0px;
	color:white;
	background:url("image/tab_icon.png");
	background-size:30% 6px;
}

div.main p.tabs a.top{
	margin:0px 1px 0px 0px;
}

div.main p.tabs a.overview{
	margin:0px 1px 0px 0px;
}

div.main p.tabs a.rule{
	margin:0px 1px 0px 0px;
}

div.main p.tabs a.progress{
	margin:0px 1px 0px 0px;
}

div.main p.tabs a.modlist{
	margin:0px 1px 0px 0px;
}

div.tab{
	width:100vw;
}

div.tab div.modders{
	width:90%;
	margin:0 auto;
}

div.tab div.modders div.modders_name{
	width:(100%-13px);
	background-color:gray;
	display:flex;
	flex-direction:row;
	padding:5px;
}

div.tab div.modders div.modders_name h4.modders_name_text{
	margin:0px 0px 0px 3px;
}

div.tab div.modders div.mods{
	width:(100%-4px);
	background-color:lightgreen;
	border-style:solid;
	border-width:2px;
	text-align:center;
}

div.tab div.modders div.mods div.mods_box{
	width:100%;
}

div.tab div.modders div.mods div.mods_box img.thumbnail{
	width:80%;
	height:160px;
	margin:0 auto;
	padding:6px;
	display:list-item;
}

div.tab div.modders div.mods div.mods_box embed{
	width:80%;
	height:160px;
	margin:0 auto;
	padding:6px;
	display:list-item;
}

div.tab div.modders div.mods div.mods_box div.mods_name{
	display:list-item;
}

div.tab div.modders div.mods div.mods_box a{
	width:65%;
	height:40px;
	padding:6px;
	font-size:15px;
	display:list-item;
}

div.all div.share-button{
	display:none;
}

footer{
	width:100vw;
	background-color:black;
	flex:1;
}

footer input{
	margin:0px 1px 0px 0px;
}

footer p{
	color:white;
	font-size:7px;
}
}